  .form-control{
    width: 100%;
    height:48px;
    padding: 15px;
    background:rgb(255, 255, 255);
    border:1px solid rgba(0, 0, 0, 0.075);
    color:black !important;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.3s;
    outline: none;
    font-size: 16px;
    font-family: 'Syntax';


  } 
  .form{
    width: 100%;
    height:50px;
    padding: 10px;
    background:rgb(255, 255, 255);
    border:1px solid rgba(0, 0, 0, 0.075);
    color:black !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.3s;
    outline: none;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Syntax';

  } 
  .form-control-search{
    width: 100%;
  height:33px;
    background:rgb(255, 255, 255);
    border:1px solid rgba(0, 0, 0, 0.075);
    color:black !important;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.3s;
    outline: none;
    font-size: 16px;
  
  
  } 
  .textarea{
    height: 500px;
    max-height: 400px;
    max-width: 100%;
    min-width:400px;
    font-family: 'Syntax';
    overflow: scroll;

  }
  th {
    font-family: 'Syntax';
    line-height: 1.5;
    font-size:18px;
    font-weight: 550;
    text-align: inherit;
    padding:0.75rem;
    word-wrap: break-word;
    white-space: nowrap;
    text-transform: uppercase;
  
  
  
  }
  td {
  font-family: 'Charlotte Sans';
  word-spacing: 2px;
  line-clamp: inherit;
  font-size: 17px;
  word-wrap: break-word;
  line-height: 1.5;
  text-align: inherit;
  }
span {
  font-size:30px;
}
span:hover {
cursor: pointer;
}

#s {
  background-color:rgba(139, 129, 129, 0.671);
}

.btnSave, .btnDelete{
  background-color: orangered;
  color:white;
  font-size: 16px;
  font-family: 'Syntax';
border-radius:5px;
}

p{
  text-align: left;
  font-family: 'Syntax';

}
select{
  padding:14px 10px;
  font-family: 'Syntax';

}
option{
  font-size: 16px;
  padding:5px;
  font-family: 'Syntax';

}
:disabled{
  background-color: rgba(0, 0, 0, 0.075);
  font-family: 'Syntax';

}
label{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Syntax';

}
select{
  width:230px;
  height:30px;
  outline:none;
  font-size: 18px;
  z-index: 1;
  font-family: 'Syntax';

}

.pdf{
  border-radius: 55%;
  padding:10px;
  background-image: linear-gradient(rgba(255, 68, 0, 0.815), rgba(238, 65, 2, 0.664) );
}
.button-main{
  background-image: linear-gradient(rgba(255, 68, 0, 0.815), rgba(238, 65, 2, 0.664) );
border-radius: 5px;
color:white;
font-family: 'Syntax';

}
.modal-title{
  font-family: "Syntax";
  font-size: x-large;
}
*{
font-size:16px;
}
.edit, .view{
  font-size:18px;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  text-transform: capitalize;
}
.btn-primary{
  border-radius: 5px;

}