<div>
  <nav class="fixed-nav-bar navbar navbar-expand-md navbar-dark ">
    <div class="mx-3"><img class="img-fluid img-responsive" src="./assets/logo5.png"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <span class="animated slideInDown mx-auto WelcomeName">
        <h2>Welcome&nbsp;{{fname|uppercase}}&nbsp;{{lname|uppercase}}</h2>
      </span>
      <div class="text-center pl-3 d-flex ">
        <h3 (click)="menuModalAgent.show()" class="text-center menubutton pl-3 pr-3">Menu</h3>
        <h3 (click)="logOutAction()" class="text-center loginbutton pl-3 pr-3">Logout</h3>
      </div>
    </div>
    <div class="modal fade right " mdbModal #menuModalAgent="mdbModal" id="menuModalAgent" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">

      <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
      <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="modal-content">
          <div class="modal-body">
            <ul class="col-12 text-center">
              <li (click)="menuModalAgent.hide()" routerLink="/agentdashboard/{{fname}}/{{lname}}/{{agent_id}}"
                routerLinkActive="active-link" data-toggle="collapse" data-target=".navbar-collapse.show">&nbsp;<i
                  class="fa fa-dashboard"></i>&nbsp;Dashboard</li>
              <li (click)="menuModalAgent.hide()" routerLink="/agentbooking" routerLinkActive="active-link"
                data-toggle="collapse" data-target=".navbar-collapse.show">&nbsp;<i
                  class="fa fa-book"></i>&nbsp;Bookings</li>
              <li (click)="menuModalAgent.hide()" routerLink="/agentpandits" routerLinkActive="active-link"
                data-toggle="collapse" data-target=".navbar-collapse.show">&nbsp;<i
                  class="fa fa-user"></i>&nbsp;&nbsp;Pandits</li>
              <li (click)="menuModalAgent.hide()" routerLink="/agentprofile" routerLinkActive="active-link"
                data-toggle="collapse" data-target=".navbar-collapse.show">&nbsp;<i
                  class="fa fa-bell"></i>&nbsp;Services</li>
              <li (click)="menuModalAgent.hide()" routerLink="/agentcategory" routerLinkActive="active-link"
                data-toggle="collapse" data-target=".navbar-collapse.show">&nbsp;<i
                  class="fa fa-list"></i>&nbsp;Categories
              </li>
            </ul>
            <div class="hidden-xl hidden-lg col-md-12 col-sm-12 col-xs-12" style="height:300px;"></div>

          </div>
          <h4 (click)="menuModalAgent.hide()" class="modal-title-menu text-center" id="menuModalAgent"><img
              src="./assets/backicon.png"></h4>

        </div>
      </div>
    </div>
  </nav>

  <div class="col-6 text-center mx-auto" *ngIf="loading">
    <div class="col-4 mx-auto">
      <div class="lds-css ng-scope">
        <div class="lds-spinner" style="width:100%;height:100%">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <style type="text/css">
          @keyframes lds-spinner {
            0% {
              opacity: 1;
            }

            100% {
              opacity: 0;
            }
          }

          @-webkit-keyframes lds-spinner {
            0% {
              opacity: 1;
            }

            100% {
              opacity: 0;
            }
          }

          .lds-spinner {
            position: relative;
          }

          .lds-spinner div {
            top: 45px;
            position: absolute;
            -webkit-animation: lds-spinner linear 1.3s infinite;
            animation: lds-spinner linear 1.3s infinite;
            background: #fd6a0fea;
            width: 12px;
            height: 30px;
            border-radius: 40%;
            -webkit-transform-origin: 0px 55px;
            transform-origin: 0px 55px;
          }

          .lds-spinner div:nth-child(1) {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-animation-delay: -1.17s;
            animation-delay: -1.17s;
          }

          .lds-spinner div:nth-child(2) {
            -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
            -webkit-animation-delay: -1.04s;
            animation-delay: -1.04s;
          }

          .lds-spinner div:nth-child(3) {
            -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
            -webkit-animation-delay: -0.91s;
            animation-delay: -0.91s;
          }

          .lds-spinner div:nth-child(4) {
            -webkit-transform: rotate(108deg);
            transform: rotate(108deg);
            -webkit-animation-delay: -0.78s;
            animation-delay: -0.78s;
          }

          .lds-spinner div:nth-child(5) {
            -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
            -webkit-animation-delay: -0.65s;
            animation-delay: -0.65s;
          }

          .lds-spinner div:nth-child(6) {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation-delay: -0.52s;
            animation-delay: -0.52s;
          }

          .lds-spinner div:nth-child(7) {
            -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
            -webkit-animation-delay: -0.39s;
            animation-delay: -0.39s;
          }

          .lds-spinner div:nth-child(8) {
            -webkit-transform: rotate(252deg);
            transform: rotate(252deg);
            -webkit-animation-delay: -0.26s;
            animation-delay: -0.26s;
          }

          .lds-spinner div:nth-child(9) {
            -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
            -webkit-animation-delay: -0.13s;
            animation-delay: -0.13s;
          }

          .lds-spinner div:nth-child(10) {
            -webkit-transform: rotate(324deg);
            transform: rotate(324deg);
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
          }

          .lds-spinner {
            width: 200px !important;
            height: 200px !important;
            -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
          }
        </style>
      </div>
    </div>
  </div>
  <div class="col-12" style='margin-top: 10px;'>
    <router-outlet></router-outlet>
  </div>
</div>