th {
    font-family: 'Syntax';
    line-height: 1.5;
    font-size:18px;
    font-weight: 550;
    text-align: inherit;
    padding:0.75rem;
    word-wrap: break-word;
    white-space: nowrap;
    text-transform: uppercase;
  }
  td {
  font-family: 'Charlotte Sans';
  word-spacing: 2px;
  line-clamp: inherit;
  font-size: 17px;
  word-wrap: break-word;
  line-height: 1.5;
  text-align: inherit;
  white-space: nowrap;
  }
  .samagri{
    white-space: normal;
  }
  .form{
    width: 100%;
    padding: 15px;
    background:rgba(121, 128, 120, 0.301);
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:black !important;
    font-size:16px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.2s;   
    font-family: 'Syntax';
    font-size: 16px;
  
  
  }
  .form-control{
    width: 100%;
    height:48px;
    padding: 15px;
    background:rgb(255, 255, 255);
    border:1px solid rgba(0, 0, 0, 0.075);
    color:black !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.3s;
    outline: none;
    font-size: 16px;
    font-family: 'Syntax';
  
  } 
  
  .form-control-search{
    width: 100%;
  height:33px;
    background:rgb(255, 255, 255);
    border:1px solid rgba(0, 0, 0, 0.075);
    color:black !important;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.3s;
    outline: none;
    font-size: 16px;
  
  
  } 
  
  .textarea{
    height: 400px;
    max-width: 100%;
    font-family: 'Syntax';
  
  }
  
  span {
    font-size:30px;
    transition: .3s ease-in;
  
  }

  .btnSave{
    background-color: orangered;
    color:white;
    font-size: 16px;
    font-family: 'Syntax';
  border-radius:5px;
  
  }
  .btnSave:disabled{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .btnSave:hover{
    color:white;
    font-size: 16px;
    font-family: 'Syntax';
  
  }
  .btn{
    font-size: 16px;
    font-family: 'Syntax';
    color:white;
    border-radius:5px;

  }
  label{
    font-size: 18px;
    font-family: 'Syntax';
    font-weight: 500;
  
  }
  
  select{
    width:230px;
    height:30px;
    outline:none;
    font-size: 18px;
    z-index: 1;
    font-family: 'Syntax';
  
  }

  span:hover{
    cursor: pointer;
  }

    .back{
      font-size:17px;
      font-family: "Syntax";
      color:black;
    }
    .back:hover{
        cursor: pointer;
    }
.aboutme, .modal-title{
  font-family: "Syntax";
  font-size: x-large;
}
.aboutmedata{
  font-family: "Syntax";
  font-size: 17px;
}
.names{
  font-size: 18px;
  font-family: "Syntax";
  opacity:0.7;
overflow: scroll;
}

.card-userDetails{
  padding:5px;
}
*{
  font-size: 16px;
}
.namesOrg{
  font-size: 18px;
  font-family: "Syntax";
}

@keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-delay: 20s;
  }
}

@-webkit-keyframes slideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition-delay: 20s;

  }
}

.fa-arrow-left{
  opacity: 1;
}
.dot1 {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  border:2px solid white;
  margin-top:-42px
}
.dot2 {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  border:2px solid white;
  margin-top:-42px
}
.PanditImages{
  border-radius: 50%;
}
.card{
  box-shadow: 0 0 0 0 ; 
  border: 0px solid rgb(209, 204, 160);
}
.mat-labels{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
}
.mat-icon{
  font-size: 24px;
}
  .pdf{
    border-radius: 55%;
    padding:8px;
    background-image: linear-gradient(rgba(255, 68, 0, 0.815), rgba(238, 65, 2, 0.664) );
}
.body{
  overflow-y: hidden; 
}
.fa-download{
  font-size: 1.3em !important;
  opacity: 1;
  color:black;
}
.fa-arrow-circle-down, .fa-arrow-circle-up{
  color:orangered;
  font-size: 40px;
}
.fa-check, .fa-times{
  font-size: 16px;
  color:white;
}
.edit{
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  text-transform: capitalize;
}