@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 th {
   text-align: inherit;
 } 

 textarea {
   overflow: auto;
   resize: vertical;
 }
 
 pagination-controls, .ngx-pagination .current {
   background-image: linear-gradient(rgb(255, 68, 0), rgba(255, 74, 8, 0.795) ) !important;
   border-radius: 25px;
   color:black;
   cursor: default;
   font-size:16px;
 }

  .swal-height {
    height: 30vh;
    border:5px solid black;
    font-size: 1.5rem !important;

  }
  a{
    text-decoration: none;
  }
  table{
   margin-top: -10px;
  }
html::-webkit-scrollbar {
   width:0px;
}
.bg-overAll{
  background-color: #fcfaf0;
}